$background-color: #395144;
$primary-color: #4e6c50;
$secondary-color: #aa8b56;
$tertiary-color: #f0ebce;

@font-face {
  font-family: "MinecraftFont";
  src: url(../font/minecraft.ttf);
}

@mixin basic-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: "MinecraftFont";

  .content {
    @include basic-flexbox;
    height: 100vh;
    flex-direction: column;
    width: 100%;

    &--wrapper {
      width: 70%;
    }

    .header {
      @include basic-flexbox;
      flex-direction: column;
      border-bottom: black solid;
      margin-bottom: 30px;

      h1 {
        font-size: 50px;
        margin-bottom: 0px;
      }
      h2 {
        font-size: 24px;
      }
    }

    .main {
      @include basic-flexbox;
      flex-direction: column;

      &__scoreboard {
        @include basic-flexbox;
        flex-direction: column;
        width: 100%;

        &--player {
          @include basic-flexbox;
          justify-content: space-around;
          width: 100%;

          .player--style {
            height: 250px;
          }
        }

        &--score {
          @include basic-flexbox;
          justify-content: space-around;
          width: 100%;
          font-size: 50px;
        }
      }
      &__paragraph {
        @include basic-flexbox;
        flex-direction: column;
      }

      &__select-choice {
        @include basic-flexbox;
        justify-content: space-around;
        width: 70%;

        &--style {
          height: 100px;
        }
      }
    }

    .footer {
      @include basic-flexbox;
    }
  }
}
